<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <property name="APP_NAME" value="gateway"/>
    <property name="LOG_PATH" value="./app_logs"/>

    <property name="LOG_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%X{transaction.id}] [%X{trace.id}] [${APP_NAME}] [%thread] [%c:%L] - %msg%n"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/${APP_NAME}.log</file>

        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/${APP_NAME}.log.%d{dd-MM-yyyy}.%d.gz</fileNamePattern>
            <maxHistory>180</maxHistory>
        </rollingPolicy>
    </appender>

    <appender name="ASYNC" class="ch.qos.logback.classic.AsyncAppender">
        <queueSize>2048</queueSize>
        <includeCallerData>true</includeCallerData>
        <appender-ref ref="FILE"/>
    </appender>

    <root level="WARN">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="ASYNC"/>
    </root>

    <!-- Customize log level for Spring Cloud Gateway -->
    <logger name="org.springframework.cloud.gateway" level="DEBUG"/>
    <logger name="com.example.gateway" level="TRACE"/>
</configuration>